body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: hotpink;
}

a {
  color: #00B7FF;
}

.christmas-button {
  background: red;
  color: white;
  font-size: 52px;
  transform: rotate(30deg);
}

